module <<module_name>>

go <<go_version>>

require (
	github.com/BurntSushi/toml v1.6.0
	github.com/gin-gonic/gin v1.12.0
	github.com/modelcontextprotocol/go-sdk v1.6.1
	github.com/sunerpy/protoc-gen-jsonschema v<<protoc_gen_jsonschema_min_version>>
	go.uber.org/zap v1.28.0
	google.golang.org/protobuf v1.36.10
)
